body
{
    padding-top: 40px;

    text-align: center;

    color: white;
    background-color: #808080;

    text-rendering: auto;
}

.form
{
    padding: 10px;

    border: 1px dotted #fff;
}

.inputInfo
{
    height: 30px;
    padding-right: 3px;
    padding-left: 3px;

    color: white;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: transparent;
}
.inputInfo:hover
{
    cursor: pointer;

    border: 1px solid #888;
}
.skils
{
    margin-left: 7%;
}
input.level
{
    width: 150px;
}
.none
{
    display: none;
}
