<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>IvanTask</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body >

	<div class="container" ng-app>
	<input type="text" class="inputInfo" ng-model="hello">
	<input type="text" class="inputInfo" ng-model="hello">
		{{hello + " world"}}
	</div>










	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script>
		document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
	</script>
</body>

</html>
