<!DOCTYPE html>
<html ng-app="app">

<head>
	<meta charset="UTF-8">
	<title>IvanTask</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<div ng-controller="main" class="container">
		<div class="row">
			<div class="form col-xs-6">

				Name: <input type="text" class="inputInfo" ng-model="name"><br><br>
				Profes: <input type="text" class="inputInfo" ng-model="Prof"><br><br>
				Skills: <input type="text" class="inputInfo" ng-model="skill">
				Mark: <input type="text" class="inputInfo level" ng-model="level">
				<button type="button" class="btn btn-xs btn-danger" ng-click="AddSkills()">+</button>

				<br><br><input type="button" class="btn btn-success btn-block btn-xs" ng-click="AddUser()" value="Save">
				<input type="button" class="btn btn-warning btn-block btn-xs" ng-click="AddRandomUser()" value="Add Random User">
				<div class="skillsPre">
					<h4>Skills :</h4>
					<p>{{skill +" - "+ level}}</p>
				</div>
				<hr>
				<h3>All Users</h3>
				<div class="allusers" ng-repeat="user in Users">
					Name : {{user.name}} <br>
					Work : {{user.work}} <br>
					Skill : <br>
					<div ng-repeat="skill in user.skills">
						{{skill.title + " - " + skill.level}}
					</div>
					<hr>
				</div>
			</div>
			<div class="col-xs-6">

			</div>
		</div>
	</div>
	 









	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script>
		document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
	</script>
</body>

</html>
